.messages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;

  .message-input {
    background-color: red;
  }

  .messages-container {
    flex: 1;
    background-color: antiquewhite;
  }

  @media screen and (max-width: 768px) {
    height: 300px;
    width: 500px;
  }
}