.game-chat-container {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.loader-spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 10px solid gray;
  border-top: 10px solid white;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}